a {
  text-decoration: none;
}

.header {
  background-color: #F8F1EA;
}
.header__flex {
  display: flex;
  flex-direction: row;
}
.header__logo {
  padding-left: 50px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.header__icons {
  padding-left: 320px;
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .header__icons {
    padding-left: 20px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1370px;
  padding: 0 15px;
}

.nav {
  padding-left: 230px;
  padding-top: 28px;
  padding-bottom: 28px;
}
.nav__list {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.nav__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.hero__container {
  padding-top: calc(60px + 15vh);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero__title {
  width: 28%;
  margin-bottom: 21px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #F8F1EA;
}
.hero__btn {
  margin-right: 75px;
  padding: 15px 57px;
  border: 2px solid #F8F1EA;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  display: block;
}
.hero__btn:hover {
  color: #F8F1EA;
  background-color: #F16A50;
  transition: 1s;
}

.hero .splide__pagination {
  gap: 50px;
  bottom: 40px;
}

.hero .splide__pagination__page {
  width: 20px;
  height: 20px;
  background-color: rgba(248, 241, 234, 0.6980392157);
}

.hero .splide__pagination__page.is-active {
  background-color: #F16A50;
  transform: scale(1);
}

.arrivals__container {
  padding-bottom: 50px;
}

.shop-status {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #F8F1EA;
  background-color: #F16A50;
  padding: 7px;
}

.sold {
  background-color: #F8F1EA;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}

.shop-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  max-width: 175px;
  margin: 0 auto;
}

.shop-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  display: block;
  color: #000000;
}

.shop-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrivals .splide__slide {
  max-width: 19%;
  border: 1px solid #F8F1EA;
}

.arrivals .splide__arrow {
  background: transparent;
  width: auto;
  height: auto;
  opacity: 1;
}
.arrivals .splide__arrow:hover svg {
  fill: #F16A50;
  opacity: 1;
  transition: fill 0.3s;
}
.arrivals .splide__arrow svg {
  fill: #202020;
  width: 40px;
  height: 74px;
}

.arrivals .splide__arrow--prev svg {
  transform: none;
}

.arrivals .splide__arrow--prev {
  left: -50px;
}

.arrivals .splide__arrow--next {
  right: -50px;
}

.arrivals__btn {
  display: block;
  margin: 0 auto;
  padding: 15px 57px;
  border: 2px solid #000000;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: transparent;
}

.arrivals .splide__track {
  padding-bottom: 50px;
}

.arrivals .splide__list {
  gap: 12px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 70px;
  padding-bottom: 60px;
}

.partners {
  background-color: #F8F1EA;
  padding-bottom: 90px;
}

.partners .splide__arrow {
  background: transparent;
  width: auto;
  height: auto;
  opacity: 1;
}
.partners .splide__arrow:hover svg {
  fill: #F16A50;
  opacity: 1;
  transition: fill 0.3s;
}
.partners .splide__arrow svg {
  fill: #202020;
  width: 40px;
  height: 74px;
}

.partners .splide__arrow--prev svg {
  transform: none;
}

.partners .splide__arrow--prev {
  left: -50px;
}

.partners .splide__arrow--next {
  right: -50px;
}

.footer .nav__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 40px;
}

.footer .nav__link {
  color: #F8F1EA;
}

.footer {
  background-color: #35312D;
}
.footer__container {
  padding-top: 70px;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-contacts {
  padding-right: 70px;
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 50px;
}
.social__item :hover {
  color: #F16A50;
  transition: 1s;
}

.fa-brands {
  color: #F8F1EA;
}

.footer-tel {
  padding-top: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #F8F1EA;
}

.footer-tel:hover {
  color: #F16A50;
  transition: 1s;
}

.copyright {
  padding-top: 55px;
  text-align: center;
  padding-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #F8F1EA;
}

.contacts-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #F8F1EA;
}

.footer-navblock {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .footer-navblock {
    flex-direction: row;
  }
}

.nav__link:hover {
  color: #F16A50;
  transition: 1s;
}

.btn:hover {
  color: #F8F1EA;
  background-color: #F16A50;
  transition: 1s;
}
/*# sourceMappingURL=styles.css.map */