@font-face {
    font-family:'Circular bold';
    src: url('../fonts/CircularStd-Bold.eot');
    src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Bold.woff') format('woff'),
        url('../fonts/CircularStd-Bold.ttf') format('truetype'),
        url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:Circular;
    src: url('../fonts/CircularStd-Medium.eot');
    src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Medium.woff') format('woff'),
        url('../fonts/CircularStd-Medium.ttf') format('truetype'),
        url('../fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 260px;
}
a {
    text-decoration: none;
}
.header-bg {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0%;
    z-index: 1;
    background-color:#FFFFFF; 
} 

.item-link {  
    display: inline-block;
    padding-right: 75px;
}
.flex-header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed; 
    z-index: 1;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #AAAAAB;
}

nav {
    margin-left: 600px;
}
nav a {
    color: #AAAAAB;
}
nav a:hover {
    transition: 0.5s;
    color: #56597A;
}

.header-icon {
    padding-top: 7px;
}
.header-icon:hover {
    transition: 0.5s;
    color: #56597A;
}
main {
    position: absolute;
}

.first-section {
    padding-left: 135px;
}
.first-section-text {
    width: 50%;
}
.first-section-text h2::before {
    content: '__';
    width: 36px;
    height: 3px;
    font-size: 30px;
}
.first-section-text h2 {
    color: #F78CB6;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}
.first-section-text h3 {
    padding-top: 20px;
    color: #56597A;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
}
.first-section-text p {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #919299;
}
.first-section-text button {
    display: inline-block;
    font-family: 'Circular Std';
    font-style: normal;
    width: 210px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 18px 22px;
    background: #F78BB6;
    border-radius: 4px;
    border-color: #F78BB6;
}
.button-icon {
    margin-left: 20px;
}
.first-section-content {
    display: flex;
}
.first-section::after{
    content: '';
    background-size: cover;
    background-image: url(../assets/images/bg_vector.png);
    height: 750px;
    width: 850px;
    display: block;
    position: absolute;
    top: -260px;
    right: -100px;
    z-index: 1;
}

.services-section::before {
    content: '';
    position: sticky;
    height: 310px;
    width: 170px;
    background-size: cover;
    background-image: url(../assets/images/bg_bloob_vector.png);
    display: block;
    top: 50px;
    left: 0px;
    z-index: 1
}
.test-sticky {
    position: sticky;
    top:75%;
}
.section-title {
    font-family: Circular;
    font-style: normal;
    padding-top: 20px;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #F78CB6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-subtitle {
    font-family: 'Circular bold';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 72px;
    color: #56597A;
    text-align: center;
    padding-bottom: 60px;

}
.section-content {
    display: flex;
    justify-content: space-between;
}
.section-item  {
    margin-left: 50px;
    text-align: center;
    background-color: #FFF1F9;
    border-radius: 8px;
}
.section-item:hover {
    background-color: yellow;
    transform: rotateY(360deg);
    cursor: pointer;
    transition: 1s;
}
.section-item-title {
    font-family: Circular;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 72px;
    color: #56597A;
}
.section-item-text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #919299;
    line-height: 24px;
    padding-left: 23px;
    padding-right: 23px;
    margin-bottom: 20px;
}
.hidden-link {
    font-family: Circular;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    visibility: hidden;
}
.active {
    background-color: #F78CB6;
    border-radius: 8px;;
}
.active a {
    visibility: visible;
    color: #FFFFFF;
}

.active p, .active h3 {
    color: #FFFFFF; 
}
.active span {
    color: #FFFFFF;
}

.hidden-link::after {
    content:'▶' ;
    margin-left: 10px;
    font-size: 12px;
}
.icon {
    color: #FC85B4;
    padding-top: 55px;
    padding-bottom: 40px;
    font-size: 40px;
}

.section-header {
    padding-top: 10px;
    color: #F78CB6;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}
.section-subheader {
    padding-top: 20px;
    width: 80%;
    color: #56597A;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
}
.section-text {
    width: 65%;
    padding-top: 20px;
    padding-bottom: 35px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #919299;
}
.section-button {
    display: inline-block;
    font-family: 'Circular Std';
    font-style: normal;
    width: 210px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 18px 22px;
    background: #F78BB6;
    border-radius: 4px; 
    border-color: #F78BB6;
}
.img {
    margin-right: 50px;
}
.shaded-header {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 0.5px black
}
.design-section__subheader {
    width: 85%;
}
.design-section__text {
    width: 80%;
}
.teamwork-section__subheader {
    width:85%;
}
.teamwork-section__text {
    width: 80%;
}

.testimonial-section__subheader {
    width: 80%;
}
.testimonial-section__text {
    width: 55%;
}
.testimonial-section__client__name {
    padding-top: 35px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #56597A;
}
.testimonial-section__client__block__location {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #ABABAB;
}
.testimonial-section__client__block {
    display: flex;
    justify-content: space-between;
}
.testimonial-section__client__block__icons {
    margin-right: 230px;
    color:#56597A99;
}

.testimonial-section__client__block__icons__right-arrow {
    margin-left: 7px;
}
.testimonial-section__client__block__icons__right-arrow:hover {
    color: #F78CB6;
    transition: 0.5s;
}
.testimonial-section__client__block__icons__left-arrow:hover {
    color: #F78CB6;
    transition: 0.5s;
}
.first-section-wrapper {
    padding-bottom: 0;
}
.design-section__wrapper {
    display: flex;
}
.teamwork-section__wrapper {
    display: flex;
}
.testimonial-section__wrapper {
    display: flex;
}